<!-- ==============================================
      ABOUT
      =============================================== -->
      <section id="about" class="big-padding">
      
        <div class="container">
          
          <h1 class="section-title">My Profile<span class="main-color"></span></h1>
        
          <div class="row profile">
          
            <div class="col-sm-10 col-sm-offset-1 text-center">
            
              <figure class="hover-wrapper scrollimation fade-right">
               
                <%= image_tag "me.jpg", :alt =>"", :class =>"img-responsive img-circle profile-img" %>
                
                <figcaption class="hover-text">That's Me!</figcaption>
              </figure>
              
              <h2 class="scrollimation fade-left">Marsha Clark</h2>
              <h3 class="scrollimation fade-left">UI / UX Expert</h3>
            
              <p class="margin-top scrollimation fade-right">Greetings, I am Marsha Clark,
I am a freelance Web developer, Web designer, and a mom from the St. Louis area. I spends my time working at home and in the local coffee shops. I build applications and sites under the label of Girl Butter . I may be of help on your Web project and can be reached via Email and phone for consultation.</p>
              
              <p class="lead margin-top scrollimation fade-left">Creating is not just a job for me, it's a passion. </p>
             
              
            </div>
            
          </div>
          
        </div>
      
      </section>