<!-- ==============================================
      PORTFOLIO
      =============================================== -->
      <section id="portfolio" class="big-padding" >
      
        <div class="container">
        
          <h1 class="section-title"><span class="main-color">My Projects</span></h1>
          <p class="subtitle">See the work I have done</p>
          
          <!--==== Portfolio Filters ====-->
        
          
        </div>  
        
        <div class="container scrollimation fade-up">
      
          <div id="projects-container" class="row">
          
            <!-- ==============================================
            SINGLE PROJECT ITEM
            =============================================== -->
            
             
            <a class="project-item col-sm-6 col-md-4 col-lg-3 web" href="#?images-project.html">
              
              <%= image_tag "thumb-3.jpg", :alt =>"", :class => "img-responsive project-image" %>
              
              <div class="hover-title">
                <h2 class="project-title">Fullwidth images</h2><!--Project Title -->
                <p>Professional Web Design</p><!--Project Subtitle -->
              </div>
              
            </a>
            
          </div>  
          
          <p class="lead text-center">Like what you see? Contact me to discuss about your project!</p>
          <p class="text-center"><a class="btn btn-dc btn-main-color scrollto" href="#contact">Contact Me</a></p>
          
        </div>  
        
      </section>